<ol>
    <li>
        <a href="#">Colombia</a>
        <ul class="sub-menu">
            <li id="---" class="city">
                <a href="#" class="link" target="_self" title="">
                    <span>{title}</span>
                </a>
            </li>
            <li id="---" class="city">
                <a href="#" class="link" target="_self" title="">
                    <span>{title}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Argentina</a>
        <ul class="sub-menu">
            <li id="---" class="city">
                <a href="#" class="link" target="_self" title="">
                    <span>{title}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Chile</a>
        <ul class="sub-menu">
            <li id="---" class="city">
                <a href="#" class="link" target="_self" title="">
                    <span>{title}</span>
                </a>
            </li>
        </ul>
    </li>
    <li>
        <a href="#">Peru</a>
        <ul class="sub-menu">
            <li id="---" class="city">
                <a href="#" class="link" target="_self" title="">
                    <span>{title}</span>
                </a>
            </li>
            <li id="---" class="city">
                <a href="#" class="link" target="_self" title="">
                    <span>{title}</span>
                </a>
            </li>
        </ul>
    </li>
</ol>
